/* Diseño responsivo */


.mobile-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

.mobile-menu ul {
  list-style: none;
  padding: 10px;
}

.mobile-menu li {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.mobile-menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.mobile-menu li a:hover {
  color: #f0a500;
}


@media (max-width: 768px) {
  .card {
    flex-direction: column;
    width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  }

  .card .image-container {
    height: 200px; /* Altura ajustada para pantallas móviles */

  .menu {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu.active {
    display: block;
  }
}