/* Diseño responsivo */


.mobile-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

.mobile-menu ul {
  list-style: none;
  padding: 10px;
}

.mobile-menu li {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.mobile-menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.mobile-menu li a:hover {
  color: #f0a500;
}

@media (max-width: 1000px){
  .hero {
    display: block;
    padding-bottom: 0;
  }
  .hero-text{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
  .hero .title {
    display: block;
    margin-bottom: 22px;
  }
  .hero .title p {
    padding-left: 0;
    padding-top: 0;
  }
  .hero .logo {
    margin-top: -70px !important;
  }
  .hero .title h1{
    line-height: 4rem;
    margin: 0;
    padding: 0;
  }
  .hero > img{
    margin-top: -260px;
    width: 130%;
  }
  .about{
    padding: 0;
    padding-bottom: 30px;
  }
  .piece-gallery {
    padding: 20px 0%;
  }
  .piece-gallery img, .piece-gallery video {
    padding: 30px 6%;
  }
}
@media (max-width: 768px) {
  /* Barra de filtros */
  .filter-bar {
    display: none;
  }
} 
@media (max-width: 568px) {
  section.gallery-container {
    padding: 0 0;
  }
  .card {
    flex-direction: column;
    width: 90%; /* Ocupa todo el ancho en pantallas pequeñas */
    height: 440px;
  }

  .card .image-container {
    width: 100%; /* Altura ajustada para pantallas móviles */
  }
  .menu {
    display: none;
  }

  .menu-toggle {
      padding: 0 19px;
      color: #000;
      display: block;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu.active {
    display: block;
  }
  .exhibitions{
    margin: 20px;
  }
  .exhibitions,
  .about,
  .about-text{
        display: block;
        width: 100% !important;
        padding: 20px;
  }
  .technical-info {
    flex-direction: column;
    padding: 20px;
  }

  .technical-info .info-column {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .technical-info .info-column:last-child {
    border-bottom: none;
  }

  .piece-gallery img {
    width: calc(100% - 40px);
  }
}