.league-spartan-light{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.edu-italic {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EBE9D4;
    color: #555B72;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hide{
    display: none !important;
}
#copyButton{
    cursor: pointer; 
}
header {
    box-shadow: 0 0 5px #00000030;
    width: 100%;
    position: fixed;
    display: block;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #000000;
    z-index: 999;
    text-align: center;
}
/*header .container{
    display: flex;
    justify-content: space-between;
}*/
header nav{
    display: none;
}
.logo-container img {
  height: 70px;
}
.copybutton{
    margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
}
nav {
  display: flex;
  align-items: center;
}

/* Barra de filtros */
.filter-bar {
    border-radius: 70px;
    position: absolute;
    left: 50%;
    top: 550px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 0.5rem;
    background-color: #9891CC;
    z-index: 1000;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
}

.filter-bar .filter-btn {
    cursor: pointer;
    background: none;
    border: 0;
    padding: 0.7rem;
    border-radius: 60px;
    transition: all 0.2s;
    color: #EBE9D4;
}

.filter-bar .filter-btn.active {
  background-color: #EBE9D4;
  color: #807AB2;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: #00000091;
    transition: color 0.3s;
}

.menu li a:hover {
  color: #f0a500;
}
.button.main{
    border-radius: 5px;
    margin: 32px 0;
    display: inline-block;
    padding: 16px;
    background: #9891CC;
    color: #fff;
}
.button.main:hover{
    background-color: #5f4ac9;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.logo-font {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Edu {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bold{
  font-weight: 500;
}
a{
    font-weight: 400;
    text-decoration: none;
    color: #876fff;
}
h2{
    font-size: 43px;
    margin: 20px 0;
    font-weight: 200;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C3DAB8;
}
.hero .title{
    display: flex;
}
.hero .title p{
    font-size: 1.0rem;
    padding-left: 10px;
    padding-top: 47px;
    font-style: italic;
}
.hero.piece{
    padding-top: 70px;
}
.hero.piece p{
    font-size: 0.9rem;
    text-align: left;
}
.hero.piece img{
    width: 43%;
}
.hero.piece .hero-text{
    text-align: center;
    width: 50%;
    margin: 4%;
}
.hero-text {
    text-align: center;
    width: 50%;
    margin-right: auto;
}
.hero img {
    width: 890px;
    height: auto;
}
.hero .logo{
    width: 130px;
    margin: auto;
}
.hero h1 {
    font-size: 4.5em;
    margin: 0;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hero .slogan{
    width: 300px;
    margin: 40px 0 14px;
}
.hero p {
    font-size: 1.3em;
    color: #555B72;
    text-align: center;
    line-height: 30px;
}

//* Gallery Section */

section.gallery-container{
    padding: 60px 0;
}
.gallery-container{
    padding: 60px 0;
}

.gallery{
    text-align: center;
    margin-bottom: 20px;
}

.gallery-container h2{
    text-align: center;
}

.gallery h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
      background-image: url('images/bg-doodles-left.png'),url('images/bg-doodles-right.png');
  background-position: 
    left top,    /* izquierda */
    right top;   /* derecha */
  background-repeat: 
    repeat-y,    /* izquierda */
    repeat-y;    /* derecha */
  background-size: 11%; 
}

.card {
    position: relative;
    height: 409px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 365px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
    background-color: #D1DFFFCC;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.4s ease-in-out;
    background-color: #f5efadcc;
    cursor: pointer;
}
.card:hover .details {
    display: block;
}

.card .image-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100%;
}

.card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.card .details {
    background: #0000009e;
    display: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 200;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}

.card p {
    line-height: 19px;
    padding: 0;
    font-size: 14px;
    margin: 0;
}

.about {
    width: 80%;
    margin: auto;
/*    display: flex;*/
display: none;
    align-items: center;
    padding: 50px;
}
.about p {
    opacity: 0.8;
    line-height: 1.6rem;
}
.about img.me {
    width: 52%;
    height: auto;
    margin-left: 6%;
    border-radius: 0;
}
.about-text {
    width: 45%;
}
.studio-photos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.studio-photos img {
    width: 150px;
    height: auto;
}

.contact {
    text-align: center;
    padding: 30px;
}
.contact a{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #00000091;
}
.contact h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.contact-info {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    font-size: 1.2em;
}
.contact-info img {
    width: 25px;
    height: auto;
}

/* Section Styling */
.exhibitions {
    margin: auto;
    width: 86%;
    padding: 30px 20px;
    display: none;
}

.exhibitions h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Exhibition Row Styling */
.exhibition-row {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.exhibition-row::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, #ddd, transparent);
}
.gallery-name {
  font-weight: bold;
  font-size: 1.2em;
  flex: 1;
}

.details {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.details div {
  font-size: 0.9em;
}

/* Technical Info Section */
.technical-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.technical-info .info-column {
  flex: 1;
  padding: 0 10px;
}

.technical-info p {
  margin: 5px 0;
}

/* Images Gallery */
.piece-gallery {
    padding: 20px 30%;
    width: 100%;
    object-fit: cover;
}

.piece-gallery img,
.piece-gallery video {
  padding: 30px 10%;
  width: 100%;
  object-fit: cover;
}

